@model List<VideoRentalSystem.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model == null)
{
    <h4>We have no customers...</h4>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        @foreach (VideoRentalSystem.Models.Customer customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    </table>
<a class="btn btn-primary" style="float:right" href="/customers/new">NEW CUSTOMER</a>
}

