@model List<VideoRentalSystem.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<a href="/Movies/New" class="btn btn-primary">ADD MOVIE</a>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
        </tr>
    </thead>

    @foreach (VideoRentalSystem.Models.Movie movie in Model)
    {
        <tr>
            <td>@Html.ActionLink(movie.Title, "Edit", "Movies", new { id = movie.Id }, null)</td>
            <td>@movie.Genre.Name</td>
        </tr>
    }

</table>

